* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: Helvetica Neue, Tahoma, Arial, PingFangSC-Regular, Hiragino Sans GB, Microsoft Yahei, sans-serif;
}
a {
  color: #333;
  text-decoration: none;
}
img {
  vertical-align: middle;
  width: 100%;
  height: 100%;
}
ul {
  list-style: none;
}
.ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 22.4vw;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  z-index: 1;
}
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 4.8vw;
  padding-right: 3.2vw;
  height: 11.73333333vw;
}
header .top .left i {
  font-size: 7.46666667vw;
  color: #fb7299;
}
header .top .right {
  display: flex;
}
header .top .right a {
  margin-left: 6.4vw;
}
header .top .right a i {
  font-size: 6vw;
  color: #ccc;
}
header .top .right a img {
  height: 6.4vw;
}
header .bottom ul {
  display: flex;
}
header .bottom ul li {
  padding: 0 4.26666667vw;
}
header .bottom ul li a {
  font-size: 3.73333333vw;
  line-height: 10.13333333vw;
  padding-bottom: 2.4vw;
}
header .bottom ul li.hover a {
  color: #fb7299;
  border-bottom: 2px solid #fb7299;
}
header .bottom i {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 10.66666667vw;
  height: 10.66666667vw;
  text-align: center;
  line-height: 10.66666667vw;
  color: #ccc;
  font-size: 5.86666667vw;
}
.video-list {
  padding: 22.4vw 1.33333333vw 0;
}
.video-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.video-list ul li {
  width: 50%;
  padding: 2.13333333vw 1.33333333vw;
}
.video-list ul li .pic {
  position: relative;
  width: 100%;
}
.video-list ul li .pic .ico {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 2.13333333vw;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.video-list ul li .pic .ico p {
  display: block;
  color: #fff;
  font-size: 3.2vw;
}
.video-list ul li h5 {
  margin-top: 1.33333333vw;
  font-size: 3.2vw;
  font-weight: normal;
}
